<div class="row">
  <div class="six columns">
    <h1>Ch Umair Raza</h1>
    <p>ID: 1</p>
    <p>Name: Raider72Raza</p>
    <p>Bio: Aspiring Full Stack Developer</p>
    <p>GitHub: <a href=''>Link</a></p>
  </div>

  <div class="six columns">
    <img src="./Umair Photo.jpg" alt="Avatar">
  </div>
</div>